<div class="container">
  <h1>Meteo</h1>
  <nav>
    <a routerLink="/">Citty Search</a> |

    <a *ngIf="isAuthenticated()" routerLink="/favorites">Favorites</a> |
    <a *ngIf="!isAuthenticated()" routerLink="/login">Login</a>
  </nav>

  <router-outlet></router-outlet>
</div>

<!-- !!!volevo inserire tutto dentro una card strutturata meglio ma non ho avuto tempo!!! -->

<!-- <div class="container">
  <div class="upper-data">
    <img src="img/giorno.png" *ngIf="14 > 15" />
    <img src="img/notte.png" *ngIf="14 <= 15" />

    <div class="weather-date">
      <div class="location">Verona</div>
      <div class="temperature">14°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">Altre informazioni</div>

    <div class="more-info-container"> -->
<!-- temperatura minima -->
<!-- <div class="info-block">
        <div class="info-block-label">
          <img src="" />
          <span>min</span>
        </div>

        <div class="info-block-value">10°C</div>
      </div> -->

<!-- temperatura massima -->
<!-- <div class="info-block">
        <div class="info-block-label">
          <img src="img/caldo.png" />
          <span>max</span>
        </div>

        <div class="info-block-value">30°C</div>
      </div> -->
<!-- umidità -->
<!-- <div class="info-block">
        <div class="info-block-label">
          <img src="img/umidità.png" />
          <span>umi</span>
        </div>

        <div class="info-block-value">77%</div>
      </div> -->
<!-- Vento -->

<!-- <div class="info-block">
        <div class="info-block-label">
          <img src="img/vento.png" />
          <span>wind</span>
        </div>

        <div class="info-block-value">11 km/h</div>
      </div> -->
<!--  -->
<!-- </div>
  </div>
</div>

<router-outlet></router-outlet> -->
